fastapi
uvicorn[standard]
databases[postgresql]
asyncpg
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
redis[async]
cloudinary
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
prometheus-fastapi-instrumentator
